constraints:
gives rules to data in database
it will restrict the insertion of unwanted data in database
constraints types:
NOT NULL
UNIQUE
CHECK
PRIMARY
FOREIGN KEY
DEFAULT

UNIQUE:
column level,table level,composite level
ID INT UNIQUE
UNIQUE(ID)

NOTNULL:
ID INT NOTNULL


CHECK:
ID INT CHECK(ID BETWEEN 100 AND 1000)
AGE  INT NOT NULL CHECK (AGE >= 18),
DeptID INT CHECK(DeptID > 0 AND DeptID < 100),
CONSTRAINT CONSTRAINT_AGE_DepTID CHECK(AGE >= 18 AND DepTID > 0)//COMPOSITE CHECK

PRIMARY kEY:

COMBINATION OF NOTNULL AND UNIQUE

PRIMARY KEY(NAME,EMAIL)

FOREIGN KEY:
CREATING LINKS/RELATIONSHIPS BETWEEN TWO TABLES